<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muryno.listedkey">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".pagingAdapter.di.ListingApplication"
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:configChanges">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AuthAtivities.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthAtivities.Signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthAtivities.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".StartUpScreen"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listingfolder.FirstListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".listingfolder.SecondListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.ThirdListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".listingfolder.AddbedListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.FouthListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".listingfolder.CountryRadiobtn"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.FifthListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANSLpyScxt2CSkLMOh_kPpTfF2jllYKCI" />

        <activity
            android:name=".Profilefolder.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Profilefolder.Editprofile"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:windowSoftInputMode="stateVisible|adjustResize"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity
            android:name=".Profilefolder.Editname"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".listingfolder.AddPhoto"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.PhotoDetails"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Profilefolder.EditAboutMe"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Profilefolder.Updatemail"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".listingfolder.SixthListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.SeventhListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.EighthListingReg"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.CalenderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Profilefolder.VerificatonsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.checkCurrency"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".inbox.InboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AuthAtivities.VerificationsPage.EmailVeri"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="listedkeys.com"
                    android:path="/verify"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthAtivities.VerificationsPage.NumberVeri"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".AuthAtivities.VerificationsPage.ComfNumbVeri"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Wallet.ChosePaidType"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Wallet.ChosAccunt"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AuthAtivities.VerificationsPage.CheckEmail"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Wallet.AccuntInfo"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Wallet.ReviwAccunt"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AuthAtivities.VerificationsPage.BasicVeriWeb"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".mainui.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarDetail" />
        <activity
            android:name=".listingfolder.PreFirstActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".bookingFolder.paymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_3002b6276e9953e11eee9beb4e36c2fc3238bfa9" />

        <activity
            android:name=".AuthAtivities.VerificationsPage.StandardVeriWeb"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.localLaw"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AuthAtivities.VerificationsPage.Forgtpastokn"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="listedkeys.com"
                    android:path="/reset_password"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listingfolder.MapsCirclesActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".HelpSystem" />
        <activity android:name=".listingfolder.preSeven"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".listingfolder.PostSixListinPages"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".bookingFolder.FirstBookn"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".bookingFolder.SecondBookn"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".bookingFolder.fouthbookn"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity android:name=".bookingFolder.payStackPayment"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
    </application>

</manifest>